:root {
    --color-background: #{$color-background};
    --color-text: #{$color-text};
    --color-button: #{$color-button};
    --color-white: #{$color-white};
    --color-black: #{$color-black};
}
