@media (min-width: $responsive-cutoff) {
    .r\:flex-row {
        flex-direction: row !important;
    }
    .r\:d-flex {
        display: flex !important;
    }
    .r\:d-block {
        display: block !important;
    }
    .r\:d-none {
        display: none !important;
    }
    .r\:order-last {
        order: 65535 !important;
    }
    .r\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
    .r\:text-center {
        text-align: center !important;
    }
}
