<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Judson%7cQuando" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png">

  <script>
    function responsiveNavDisplay(checkbox) {
      if(checkbox.checked) {
        document.getElementById("nav-menu-left")
          .appendChild(document.getElementById("menu-left"));
        document.getElementById("nav-menu-right")
          .appendChild(document.getElementById("menu-right"));
      } else {
        document.getElementById("nav-page-left")
          .appendChild(document.getElementById("menu-left"));
        document.getElementById("nav-page-right")
          .appendChild(document.getElementById("menu-right"));
      }
    }
    window.onresize = function() {
      var navTrigger = document.getElementById("nav-trigger");
      if(navTrigger.checked) {
        navTrigger.click();
      }
    }
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.9.1/baguetteBox.min.css" integrity="sha256-GrjD69ygFQ+lWqlAOC6LzoNUE4jKrvgkQJrtIukHAi4=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.9.1/baguetteBox.min.js" integrity="sha256-SoEATAB7PgNWyyK100I7yQXYm5V08k5SFupDP0h72MY=" crossorigin="anonymous"></script>
  <script>
    window.addEventListener("load", function() { baguetteBox.run('#content'); });
  </script>

  {% seo %}
</head>
