<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Judson%7cQuando" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" integrity="sha256-cKiyvRKpm8RaTdU71Oq2RUVgvfWrdIXjvVdQF2oZ1Y4=" crossorigin="anonymous" />
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js" integrity="sha256-yQGjQhFs3LtyiN5hhr3k9s9TWZOh/RzCkD3gwwCKlkg=" crossorigin="anonymous"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/14.2.1/smooth-scroll.min.js" integrity="sha256-MhIEydYjM8X/lfw31uxgXHB5BCo+bQX6BmFJYmzty7w=" crossorigin="anonymous"></script>

  <script>
    function responsiveNavDisplay(checkbox) {
      if(checkbox.checked) {
        document.getElementById("nav-menu-left")
          .appendChild(document.getElementById("menu-left"));
        document.getElementById("nav-menu-right")
          .appendChild(document.getElementById("menu-right"));
      } else {
        document.getElementById("nav-page-left")
          .appendChild(document.getElementById("menu-left"));
        document.getElementById("nav-page-right")
          .appendChild(document.getElementById("menu-right"));
      }
    }
    window.matchMedia("(min-width: 992px)").addListener(function() {
      var navTrigger = document.getElementById("nav-trigger");
      if(navTrigger.checked) {
        navTrigger.click();
      }
    })
    window.addEventListener("load", function() {
      baguetteBox.run('#content');
      new SmoothScroll('a[href*="#"]', { speed: 1000, });
    });
  </script>

  {% seo %}
</head>
