<header id="nav-header" class="container position-relative">
    <div class="row">
      <div class="col px-0">
        <div id="title-logo-left" class="float-left">
          <a href="{{ "/" | relative_url }}">
            {% include logo-left.svg %}
          </a>
        </div>
        <div id="title-logo-right" class="float-right d-none d-lg-block">
          <a href="{{ "/" | relative_url }}">
            {% include logo-right.svg %}
          </a>
        </div>
      </div>
    </div>

    <div class="row d-lg-none">
      <div id="title-logo-subtitle" class="position-relative">
        <a href="{{ "/" | relative_url }}#right">
          {% include logo-subtitle.svg %}
        </a>
      </div>
    </div>

    <div id="title-text" class="row">
      <div class="col-5 col-lg-4 p-0">
        <p class="h4 my-0 text-left d-none d-lg-block">
          {{ site.subtitle_left }}
        </p>
        <p class="my-0 text-left">
          {{ site.address_left }}
        <br>
          {{ site.city_left }}
        </p>
      </div>
      <div class="col-7 col-lg-4 p-0">
        <p class="my-0 pt-lg-1 text-right text-lg-center">
          {%- capture email -%}{% include logo-email.svg %}{%- endcapture -%}
          <span id="title-logo-em">{{ email | strip }}</span><br>
          {{ site.phone_middle }}
        </p>
      </div>
      <div class="col-4 p-0 d-none d-lg-block">
        <p class="h4 my-0 text-right ">
          {{ site.subtitle_right }}
        </p>
        <p class="my-0 text-right ">
          {{ site.address_right }}
        <br>
          {{ site.city_right }}
        </p>
      </div>
    </div>

    <nav id="nav-menu-container" class="text-right d-inline-block d-lg-none">
      <input type="checkbox" onchange="responsiveNavDisplay(this)" id="nav-trigger" class="d-none"/>
      <label for="nav-trigger" id="nav-trigger-label" class="m-2 ">
        {% include icon-menu.svg %}
      </label>

      <div class="container d-none" id="nav-menu">
        <div class="row flex-nowrap">
          <span class="px-0 text-left" id="nav-menu-left">
          </span>
          <span class="px-0 text-right" id="nav-menu-right">
          </span>
        </div>
      </div>
    </nav>
</header>
