<header id="nav-header" class="container position-relative">
    <div class="row">
      <div id="title-logo-outer" class="col">
        <a href="{{ "/" | relative_url }}">
          <div id="title-logo-inner" class="position-absolute d-flex h-100 w-100">
            <div id="title-logo-left">
            </div>
            <div id="title-logo-right" class="d-none d-lg-block">
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row d-lg-none">
      <div class="col px-0">
        <div id="title-logo-subtitle">
        </div>
      </div>
    </div>

    <div id="title-text" class="row">
      <div class="col-5 col-lg-4 p-0">
        <p class="h4 my-0 text-left d-none d-lg-block">
          {{ site.subtitle_left }}
        </p>
        <p class="my-0 text-left">
          {{ site.address_left }}
        <br>
          {{ site.city_left }}
        </p>
      </div>
      <div class="col-7 col-lg-4 p-0">
        <p class="my-0 pt-lg-1 text-right text-lg-center">
          <span id="title-logo-em" class="d-inline-block align-bottom"></span><br>
          {{ site.phone_middle }}
        </p>
      </div>
      <div class="col-4 p-0 d-none d-lg-block">
        <p class="h4 my-0 text-right ">
          {{ site.subtitle_right }}
        </p>
        <p class="my-0 text-right ">
          {{ site.address_right }}
        <br>
          {{ site.city_right }}
        </p>
      </div>
    </div>

    <nav id="nav-menu-container" class="text-right d-inline-block d-lg-none navbar-light">
      <input type="checkbox" onchange="responsiveNavDisplay(this)" id="nav-trigger" class="d-none"/>
      <label for="nav-trigger" id="nav-trigger-label" class="m-2 navbar-toggler-icon">
      </label>

      <div class="container d-none" id="nav-menu">
        <div class="row flex-nowrap">
          <span class="px-0 text-left" id="nav-menu-left">
          </span>
          <span class="px-0 text-right" id="nav-menu-right">
          </span>
        </div>
      </div>
    </nav>
</header>
