<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Judson%7cQuando" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png">

  <script>
    function responsiveNavDisplay(checkbox) {
      if(checkbox.checked) {
        document.getElementById("nav-menu-left")
          .appendChild(document.getElementById("menu-left"));
        document.getElementById("nav-menu-right")
          .appendChild(document.getElementById("menu-right"));
      } else {
        document.getElementById("nav-page-left")
          .appendChild(document.getElementById("menu-left"));
        document.getElementById("nav-page-right")
          .appendChild(document.getElementById("menu-right"));
      }
    }
    window.matchMedia("(min-width: 992px)").addListener(function() {
      var navTrigger = document.getElementById("nav-trigger");
      if(navTrigger.checked) {
        navTrigger.click();
      }
    })
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.9.1/baguetteBox.min.css" integrity="sha256-GrjD69ygFQ+lWqlAOC6LzoNUE4jKrvgkQJrtIukHAi4=" crossorigin="anonymous" />
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.9.1/baguetteBox.min.js" integrity="sha256-SoEATAB7PgNWyyK100I7yQXYm5V08k5SFupDP0h72MY=" crossorigin="anonymous"></script>
  <script>
    window.addEventListener("load", function() { baguetteBox.run('#content'); });
  </script>

  <script async src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js" integrity="sha256-MMt0/21G3z0Zg4ET1kI3HC9npItDowkitRDVr0FhCxA=" crossorigin="anonymous"></script>
  <script>
    window.addEventListener("load", function() { new SmoothScroll('a[href*="#"]', { speed: 1000, }); });
  </script>

  {% seo %}
</head>
