<nav id="menu-{{ include.side }}" class="nav flex-column">

  <a class="nav-link pt-0" href="{{ "/" | relative_url }}">{%- if include.side == "left" -%}{{ site.title_left }}{%- else -%}{{ site.title_right }}{%- endif -%}</a>

  {% assign pages = site.pages | sort: "order" %}
  {% for page in pages %}
    {% if page.path contains "rooms/" %}
      {% if page.side == include.side or page.side == "both" %}
        <a class="nav-link py-0 mx-4" href="{{ page.url | relative_url }}">
          {{ page.title | escape }}
        </a>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for page in pages %}
    {% if page.path contains "pages/" %}
      {% if page.side == include.side or page.side == "both" %}
        {% if page.redirect_to %}
          {% assign link = page.redirect_to %}
        {% else %}
          {% assign link = page.url | relative_url %}
        {% endif %}
        <a class="nav-link" href="{{ link }}">
          {{ page.title | escape }}
        </a>
      {% endif %}
    {% endif %}
  {% endfor %}
</nav>
