<header class="t:header container">
    <a class="d-contents" href="{{ get_url(path = '/') | safe }}">
        <img class="t:logo-left" alt="Les Artistes Inn" src="{{ get_url(path = 'logo-left.svg') | safe }}">
    </a>
    <a class="d-contents" href="{{ get_url(path = '/') | safe }}">
        <img class="t:logo-right" alt="and Secret Garden Inn" src="{{ get_url(path = 'logo-right.svg') | safe }}">
    </a>
    <a class="d-contents" href="{{ get_url(path = '/') | safe }}">
        <img class="t:logo-subtitle r:d-none" alt="of Del Mar" src="{{ get_url(path = 'logo-subtitle.svg') | safe }}">
    </a>
    <div class="t:text">
        <p class="t:subtitle my-0 text-left d-none r:d-block">
            {{ config.extra.subtitle_left }}
        </p>
        <p class="my-0 text-left">
            {{ config.extra.address_left }}
        <br>
            {{ config.extra.city_left }}
        </p>
    </div>
    <div class="t:text t:contact">
        <img class="t:email" alt="Email" src="{{ get_url(path = 'logo-email.svg') | safe }}">
        <p class="my-0 text-right r:text-center">
            {{ config.extra.phone_middle }}
        </p>
    </div>
    <div class="t:text d-none r:d-block">
        <p class="t:subtitle my-0 text-right ">
            {{ config.extra.subtitle_right }}
        </p>
        <p class="my-0 text-right ">
            {{ config.extra.address_right }}
        <br>
            {{ config.extra.city_right }}
        </p>
    </div>
    <nav class="n:button">
        <input id="nav" type="checkbox" class="n:check"/>
        <label for="nav" aria-label="button" class="n:icon d-inline-block r:d-none m-1"></label>
    </nav>
</header>
