---
---

#nav-menu-container {
  @media (max-width: 992px - 1) {
    position: absolute;
    z-index: 100;
    top: 0.4375rem;
    right: 1rem;
    border: 1px solid rgb(160, 160, 160);
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
  }
}
#nav-trigger-label {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
#nav-trigger:checked ~ #nav-menu {
  display: block !important;
}



img, #nav-container {
  width: 100%;
  height: auto;
  border-width: 1rem;
  border-image-source: url("border.svg");
  border-image-slice: 20 fill;
  border-image-repeat: round;
}


// title
#nav-container {
  color: rgb(0,0,0);
  border-top-width: 0;
}

#title-logo-left {
  width: 45%;
  @media (max-width: 992px - 1) {
    width: 80%;
  }
  margin-bottom: -3em;
}

#title-logo-right {
  width: 55%;
  margin-bottom: -3em;
}





// site
p {
  text-align: justify;
  line-height: 1.25;
}

body {
  background: rgb(224,224,192);
  color: rgb(64,32,0);
  font-family: "Judson", serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Quando", serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}

a {
  color: rgb(64,32,0);
  line-height: 1.25;
}

a:hover {
  color: rgb(112,96,64);
}
