---
---
$breakpoint-sm: 576px;
$breakpoint-lg: 992px;

// borders
#content img, #nav-header {
  background-color: #ffffff;
  background-clip: padding-box;
  border-width: 1rem;
  border-image: url("border.svg") 70 repeat;
  border-color: #ffffff;
  border-style: solid;
}




// title
#nav-header {
  color: rgb(0,0,0);
  border-top-width: 0;
  @media (max-width: $breakpoint-sm - 1) {
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#title-logo-left {
  width: 45%;
  margin-bottom: -5%;
  @media (max-width: $breakpoint-lg - 1) {
    width: 90%;
    margin-bottom: -9%;
  }
  svg {
    width: 100%;
  }
}

#title-logo-right {
  width: 55%;
  margin-bottom: -5%;
  svg {
    width: 100%;
  }
}

#title-logo-subtitle {
  margin-bottom: -0.33rem;
  z-index: 99;
  svg {
    height: 2rem;
    max-width: 100%;
    display: block;
  }
}

#title-text .h4 {
  font-size: 1.375rem;
}



// responsive nav
#nav-menu-container {
  position: absolute;
  z-index: 100;
  top: 0.5rem;
  right: 0.5rem;
  border: 1px solid rgb(160, 160, 160);
  border-radius: .25rem;
  background-color: rgb(255, 255, 255);
}
#nav-trigger-label {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
#nav-trigger:checked ~ #nav-menu {
  display: block !important;
}



// site
p {
  text-align: justify;
  line-height: 1.25;
}

body {
  background: rgb(224,224,192);
  color: rgb(64,32,0);
  font-family: "Judson", serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Quando", serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}

a {
  color: rgb(64,32,0);
  line-height: 1.25;
}

a:hover {
  color: rgb(112,96,64);
}
