<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {%- capture image_replacement_string -%}
      {%- assign images = content | split: '<img' -%}
      {%- for image in images -%}
        {%- unless forloop.first -%}
          {{- image | split: '/>' | first -}}
          {%- unless forloop.last -%}<>{%- endunless -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endcapture -%}
    {%- assign image_replacement = image_replacement_string | split: '<>' -%}
    {%- for img_attributes in image_replacement -%}
      {%- capture image_replacement_source -%}
        <img{{ img_attributes }}/>
      {%- endcapture -%}
      {%- assign image_url = img_attributes | remove_first: ' src="' | split: '"' | first -%}
      {%- assign image_relative_url = image_url | relative_url -%}
      {%- assign image_replacement_url = image_url | replace_first: '.jpg','_large.jpg' -%}
      {%- capture image_replacement_target -%}
        <a href="{{ image_replacement_url | relative_url }}"><img{{ img_attributes | replace: image_url, image_relative_url }}/></a>
      {%- endcapture -%}
      {%- assign content = content | replace: image_replacement_source, image_replacement_target -%}
    {%- endfor -%}

    <div class="container pt-2">
      <div class="row">
        <div id="nav-page-left" class="col-2 d-none d-lg-block px-0 text-left">
          {% include menu.html side="left" %}
        </div>
        <div id="content" class="col">
          <main aria-label="Content">
              {{ content }}
          </main>
        </div>
        <div id="nav-page-right" class="col-2 d-none d-lg-block px-0 text-right">
          {% include menu.html side="right" %}
        </div>
      </div>
    </div>

  </body>

</html>
