---
layout: default
---
<article>

  {%- assign page_title = page.path | remove_first: "pages/" | remove_first: "rooms/" | remove_first: ".md" -%}
  {%- assign page_image_dir = page_title | prepend: "/assets/images/" -%}
  {%- assign all_static_files = "" -%}
  {%- for file in site.static_files -%}
    {%- assign all_static_files = all_static_files | append: file.path | append: "<br>" -%}
  {%- endfor -%}
  {% if all_static_files contains page_image_dir %}
    <div class="mb-3 row justify-content-center align-items-center">
  {% endif %}
  {%- for file in site.static_files -%}
    {%- if file.extname == ".jpg" and file.path contains "/assets/images/" and file.path contains page_title -%}
      {%- unless file.path contains "_large" -%}
        {%- assign file_large = file.path | remove_first: ".jpg" | append: "_large" -%}
        {% if all_static_files contains file_large %}
          <img src="{{ file.path | relative_url }}" alt="{{ page.title }} {{ file.path | remove_first: "/assets/images/" | remove_first: page_title | remove_first: "/" | remove_first: ".jpg" }}"/>
        {% endif %}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
  {% if all_static_files contains page_image_dir %}
    </div>
  {% endif %}

  <header>
    <h1 {% if page.subtitle %}class="mb-0"{% endif %}>{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <h2 class="h5 font-italic">{{ page.subtitle | escape }}</h2>
    {% endif %}
  </header>

  <div>
    {{ content }}
  </div>

</article>
