---
layout: default
---
<article>

  {%- assign page_image_dir = page.path | remove_first: "pages/" | remove_first: "rooms/" | remove_first: ".md" | prepend: "/assets/images/" -%}
  {%- assign all_static_files = "" -%}
  {%- for file in site.static_files -%}
    {%- assign all_static_files = all_static_files | append: file.path | append: "<br>" -%}
  {%- endfor -%}
  {%- if all_static_files contains page_image_dir -%}
    {%- capture page_images -%}
      {%- for file in site.static_files -%}
        {%- if file.extname == ".jpg" and file.path contains page_image_dir -%}
          {%- unless file.path contains "_large" -%}
            {{ file.path | append: "<br>" }}
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}
    {%- assign page_images_array = page_images | split: "<br>" -%}
    <div class="mb-3 row justify-content-center align-items-center">
    {%- for image_path in page_images_array -%}
      <img src="{{ image_path }}" alt="{{ page.title }} {{ forloop.index }}"/>
    {%- endfor -%}
    </div>
  {% endif %}

  <header>
    <h1 {% if page.subtitle %}class="mb-0"{% endif %}>{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <h2 class="h5 font-italic">{{ page.subtitle | escape }}</h2>
    {% endif %}
  </header>

  <div>
    {{ content }}
  </div>

</article>
